body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-error {
    color: red;
    margin-top: 5px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.result-table th {
    background-color: #4caf50;
    color: #fff;
}

.center-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.main-button {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
}

.back-button {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px;
    text-decoration: none;
}

.main-button:hover {
    background-color: #45a049;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.result-table th, .result-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.result-table th {
    background-color: #4caf50;
    color: #fff;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #f4f4f4;
}
