<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Student Database</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Student Database</h1>
        </header>
        <section class="main-content">
            <p>Welcome to the Student Database. Use the buttons below to add or search for students.</p>
            <div class="center-buttons">
                <a class="main-button" href="{{ url_for('add_student') }}">Add Student</a>
                <a class="main-button" href="{{ url_for('search_student') }}">Search Student</a>
                <a class="main-button" href="{{ url_for('view_records')}}">View Records</a>
            </div>
        </section>
        <footer>
            <p>&copy; 2023 Student Database</p>
        </footer>
    </div>
</body>
</html>
